@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Castoro+Titling&family=Cormorant+Garamond&family=Days+One&family=Enriqueta&family=Hahmlet&family=Inter&family=Jomolhari&family=Kaisei+HarunoUmi&family=Poppins&family=Vollkorn+SC&display=swap');

@font-face {
    font-family: "CaliFB";
    src: url(../../res/font/califb.woff) format('woff'),
    url(../../res/font/califb.woff) format('truetype'),
    url(../../res/font/califb.woff) format('opentype');
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .logo {
    width: 100px;
    height: 100px;
    margin-top: 3px;
    margin-bottom: 31px;
}

nav ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 26px;
}

nav ul li a {
    color: #ffff;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

body {
    background-color: black;
}

.welcome-card {
    height: 394px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../../res/img/welcome_home.jpg");
    background-position: -100%, -100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.welcome-card h2 {
    font-family: 'Castoro';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
}

.welcome-card h1 {
    font-family: 'Cantata One';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    color: #FFFFFF;
}

.welcome-card h3 {
    font-family: 'Enriqueta';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;

    color: #FFFFFF;
}

h1 {
    font-family: 'Jomolhari';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #ffff;
}

h2 {
    font-family: 'Vollkorn SC';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    text-align: center;
    color: #FFFFFF;
}

p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.home-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 102px 129px;
    gap: 10px;
}

.home-quote h1, p {
    text-align: center;
}

.home-offer {
    display: flex;
    justify-content: space-evenly;
    gap: 19px;
}

.home-offer div{
    display: flex;
    width: 379px;
    flex-direction: column;
    position: relative;
    background-color: #D9D9D9;
}

.home-offer-sub {
    width: 100%;
    text-align: left;
    padding-left: 12px;
    margin-bottom: 12px;
}

.home-offer .discount-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 119px;
    height: 70.57px;
    top: 0px;
    right: 0px;
    background-color: #BB0000;
}

.home-offer .discount-tag p {
    font-family: 'Enriqueta';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}

.home-offer img {
    margin: 16px 16px 0 16px;
}

.home-offer .offer-name {
    font-family: "Javanese Text";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
}

.home-offer .price-line {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    text-decoration: line-through;
    text-decoration-color: #BB0000;
    text-decoration-thickness: 5px;
    align-self: flex-start;
    margin-left: 16px;
}

.home-offer .price {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    transform: translateY(-30%);
}

.home-offer .btn-reservation {
    width: 230px;
    height: 66px;
    background-color: #8A0000;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 34px;
    color: #FFFFFF;
    align-self: center;
    cursor: pointer;
}

.home-offer .terms {
    font-family: "Hannari";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin: 34px 12px 9px 0;
    align-self: flex-end;
}

.line {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    border: 1px solid #c7b57b;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    padding-bottom: 35px;
    margin-top: 48px;
}

footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

footer .medsos-list {
    margin-top: 38px;
    width: 50%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

footer .medsos-list img {
    width: 48px;
    height: auto;
}

.facility-card {
    height: 394px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../../res/img/room_facility.jpg");
    background-position: -100%, -100%;
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
}

.facility-card h1 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
    font-family: 'Kaisei HarunoUmi';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    margin-bottom: 70px;
    color: #FFFFFF;
}

.facility-content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D0C0A2;
    margin: 58px 0;
}

.facility-content-card div {
    display: flex;
    margin: 48px 0;
    gap: 56px;
}

.facility-content-card img {
    width: 604px;
    height: 316px;
}

.facility-content-card p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #000000;
    padding: 0 48px;
    margin-bottom: 54px;
}

.facility-content-card-second {
    display: flex;
    padding: 48px 38px;
    justify-content: center;
    align-items: center;
    background-color: #D0C0A2;
    gap: 43px;
}

.facility-content-card-second img {
    width: 588px;
    height: 341px;
}

.facility-content-card-second p {
    height: 341px;
    max-width: 712px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #000000;
}

.reservation-card {
    height: 394px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../../res/img/room_facility.jpg");
    background-position: -100%, -100%;
    background-size: cover;
    align-items: center;
    justify-content: flex-end;
    gap: 34px;
}

.reservation-card h1 {
    font-family: 'Kaisei HarunoUmi';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-position: under;
    color: #FFFFFF;
}

.reservation-card h2 {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.form-reservation {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 55px auto;
}

.form-reservation label{
    white-space: pre;
    width: 280px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.form-reservation div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-reservation .btn-book {
    align-self: center;
    width: 368px;
    height: 84px;
    background: #8A0000;
    font-family: 'Days One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    margin-top: 48px;
    cursor: pointer;
}

.form-reservation input, select{
    background-color: #D0C0A2;
    width: 518px;
    height: 74px;
    padding-left: 12px;
    font-family: "Poppins";
    font-size: 24px;
}

.form-reservation input[type=text],input[type=number],input[type=email] {
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #D0C0A2;
    color: #D9D9D9;
}

.form-reservation select, input[type=date] {
    padding-right: 12px;
}

.form-reservation select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../../res/img/triangle.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
}

.form-reservation input[type=date] {
    font-weight: 600;
    text-transform: uppercase;
}

.contact-container {
    height: 394px;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../../res/img/welcome_home.jpg");
    background-position: -100%, -100%;
    background-size: cover;
    margin-top: 58px;
    padding-top: 32px;
    justify-content: center;
    gap: 164px;
}

.map-location {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.contact-container .sub {
    font-family: 'Poppins';
    font-style: normal;
    text-align: left;
    transform: translateX(-10%);
    font-weight: 400;
    font-size: 45px;
    color: #FFFFFF;
}

.contact-container > div > div {
    display: flex;
    gap: 12px;
    align-items: center;
    margin: 37px 0;
}

.contact-container > div img {
    width: 48px;
    object-fit: cover;
}

.contact-container > div p {
    width: 318px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
}

.contact-container .follow-us > div{
    margin: 17px 0;
}